<%- include('../partials/head') %>
<h1>All Comments</h1>
<ul class="list-group">
  <%for (let c of comments) {%>
  <li class="list-group-item strong ">
    ID: <%= c.id %>  <br />
    Name: <b><%= c.username.toUpperCase() %></b> <br />
    Comment: <%= c.comment %>
  </li>
  <% } %>
</ul>

<a href="/comments/new"  class="btn btn-warning mb-3 mt-2">Creating a comment</a>

<br />
<a href="/"  class="btn btn-dark">Back</a>

<%- include('../partials/footer')%>
