include includes/head
include includes/nav
include includes/footer
doctype html
html(lang="en")
  head
    +head(`${products.title}`)
  body 
    +nav
    .container 
        h2 #{products.title}
        .product-images
            img(src=products.imgUrl width="500px" alt="")
            img(src=products.imgUrl alt="" width="350")
            img( src=products.imgUrl width="300" alt="")
        .buy
            p(class="price") $#{products.price}
            button(class="btn-buy") BUY
        p #{products.description}
        table 
            tbody
                tr
                    th SIZE
                    td S
                tr
                    th COLOUR
                    td RED
                tr
                    th PRICE
                    td $#{products.price}
    +footer 