<%- include('../partials/head') %>

<h1>Comment <span style="color: chartreuse;">ID:</span> <%= content.id %></h1>

<ul class="list-group">
    <li class="list-group-item strong ">
        <span style="font-weight: bold; font-style: italic; font-size: 2rem;"><span style="color: chartreuse;">Name:</span> <%= content.title %></span> <br>
        <hr style="width: 100%;">
        <span style="font-weight: bold; font-style: italic; font-size: 2rem;"><span style="color: chartreuse;">Comment:</span> <%= content.content %></span>
      </li>
</ul>



  <a href="/bloks"  class="btn btn-dark mt-4 mb-4 hover">Back</a>


<%- include('../partials/footer')%>